* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 2.3rem;
}

body {
    text-align: center;
    line-height: 1.5rem;
}

h1 {
    font-size: 4rem;
}

.boxes {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    border-top: 1px solid black;
}

.dots {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;

}

.box {
    list-style: none;
    min-height: 300px;
    max-width: 100%;
    width: 25%;
    border: 1px solid rgb(0, 0, 0);
}

.dot {
    list-style: none;
    height: 10px;
    padding: 0;
    width: 10px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}